<div class="row">

  <div class="col-md-6 col-md-offset-3 brand">
    <% if params[:plan] == '2' %>
      <h2 class="text-center"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up for <strong>Premium Access</strong></h2>
    <% else %>
      <h2 class="text-center"><i class="fa fa-user-plus" aria-hidden="true"></i> Register for <strong>Basic Access</strong></h2>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    
    <% if params[:plan] == '2' %>

      <%= render "pro_form" %>

    <% else %>

      <%= render "basic_form" %>
      
    <% end %> 

    <br>
 

      <%= render "devise/shared/links" %>
      <i class="fa fa-chevron-circle-left" aria-hidden="true">
        <%= link_to "Back", root_path %>
      </i>



  </div>
</div>
